@model IEnumerable<WebBanTraSua.Models.EF.HoaDon>

@{
    ViewBag.Title = "Lịch sử mua hàng";
    Layout = "~/Views/Shared/User/_Layout.cshtml";
}

<h2>HistoryBuy</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tenNguoiMua)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sdt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.diaChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ghiChu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngayMua)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.soLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tongTien)
        </th>
        <th>Chi tiết</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tenNguoiMua)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sdt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.diaChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ghiChu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngayMua)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.soLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tongTien)
        </td>
        <td><a href="/Bill/DetailsBill/@item.maHoaDon"><i class="fa fa-search-plus" style="font-size:30px;"></i></a></td>
    </tr>
}

</table>
