@model PagedList.IPagedList<WebBanTraSua.Models.EF.SanPham>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Tìm kiếm ";
    Layout = "~/Views/Shared/User/_Layout.cshtml";
}

<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <h2>Danh sách <b>@ViewBag.searchNameProduct</b> bạn tìm kiếm</h2>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Product List Start -->
<div class="product-view">
    <div class="container-fluid">
        <div class="row">
            @if (Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <div class="col-md-3">
                        <div class="product-item">

                            <div class="product-image">
                                <a href="product-detail.html">
                                    <img src="~/Content/assets/img/anh/@item.hinhAnh" alt="@item.tenSanPham">
                                </a>
                                <div class="product-action">
                                    <a href="/them-gio-hang?maSanPham=@item.maSanPham&soLuong=1&returnUrl=@Request.RawUrl"><i class="fa fa-cart-plus"></i></a>
                                    <a href="/chi-tiet-san-pham/@item.maSanPham"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="product-title">
                                <a href="#">@item.tenSanPham</a>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="product-price">
                                <h3>@item.giaBan<span>₫</span></h3>
                                <a class="btn" href="/them-gio-hang?maSanPham=@item.maSanPham&soLuong=1&returnUrl=@Request.RawUrl"><i class="fa fa-shopping-cart"></i>Mua Ngay</a>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="table-responsive" style="text-align: center;">
                    <span class="alert alert-danger">Hiện tại chưa có sản phẩm nào tên <b>@ViewBag.searchNameProduct</b>!</span>
                </div>
            }

            <!-- Pagination Start -->
            <div class="col-md-12">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        @Html.PagedListPager(Model, page => Url.Action("AllProducts", new { page }))
                    </ul>
                </nav>
            </div>
            <!-- Pagination Start -->
        </div>
    </div>
</div>
<!-- Product List End -->
<!-- Brand Start -->
<div class="brand">
    <div class="container-fluid">
        <div class="brand-slider">
            <div class="brand-item"><img src="~/Content/assets/img/brand-1.png" alt=""></div>
            <div class="brand-item"><img src="~/Content/assets/img/brand-2.png" alt=""></div>
            <div class="brand-item"><img src="~/Content/assets/img/brand-3.png" alt=""></div>
            <div class="brand-item"><img src="~/Content/assets/img/brand-4.png" alt=""></div>
            <div class="brand-item"><img src="~/Content/assets/img/brand-5.png" alt=""></div>
            <div class="brand-item"><img src="~/Content/assets/img/brand-6.png" alt=""></div>
        </div>
    </div>
</div>
<!-- Brand End -->
