@model PagedList.IPagedList<WebBanTraSua.Models.EF.SanPham>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Loại sản phẩm";
    Layout = "~/Views/Shared/User/_Layout.cshtml";
    var categorys = (List<WebBanTraSua.Models.EF.LoaiSanPham>)ViewBag.Categorys;
    var ListProductsRelated = (List<WebBanTraSua.Models.EF.SanPham>)ViewBag.ListProductsRelated;

}
<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/trang-chu">TRANG CHỦ</a></li>
            <li class="breadcrumb-item"><a href="/tat-ca-san-pham">SẢN PHẨM</a></li>
            <li class="breadcrumb-item active">DANH SÁCH SẢN PHẨM</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Product List Start -->
<div class="product-view">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="product-view-top">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="product-short">
                                        <div class="dropdown">
                                            <div class="dropdown-toggle" data-toggle="dropdown">Phân khúc sản phẩm</div>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a href="#" class="dropdown-item">Mới</a>
                                                <a href="#" class="dropdown-item">Mua nhiều</a>
                                                <a href="#" class="dropdown-item">Giảm giá</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="product-price-range">
                                        <div class="dropdown">
                                            <div class="dropdown-toggle" data-toggle="dropdown">Giá tiền</div>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a href="#" class="dropdown-item"> 1.000<span>₫</span> - 10.000<span>₫</span></a>
                                                <a href="#" class="dropdown-item">10.000<span>₫</span> - 20.000<span>₫</span></a>
                                                <a href="#" class="dropdown-item">20.000<span>₫</span> - 30.000<span>₫</span></a>
                                                <a href="#" class="dropdown-item">30.000<span>₫</span> - 40.000<span>₫</span></a>
                                                <a href="#" class="dropdown-item">40.000<span>₫</span> - 50.000<span>₫</span></a>
                                                <a href="#" class="dropdown-item">50.000<span>₫</span> - 60.000<span>₫</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @foreach (var item in Model)
                    {
                        <div class="col-lg-4">
                            <div class="product-item">
                                <div class="product-image">
                                    <a href="/chi-tiet-san-pham/@item.maSanPham">
                                        <img src="~/Content/assets/img/anh/@item.hinhAnh" alt="@item.tenSanPham">
                                    </a>
                                    <div class="product-action">
                                        <a href="/them-gio-hang?maSanPham=@item.maSanPham&soLuong=1&returnUrl=@Request.RawUrl"><i class="fa fa-cart-plus"></i></a>
                                        <a href="/chi-tiet-san-pham/@item.maSanPham"><i class="fa fa-search"></i></a>
                                    </div>
                                </div>
                                <div class="product-title">
                                    <a href="#">@item.tenSanPham</a>
                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <div class="product-price">
                                    <h3>@String.Format("{0:0,0}", item.giaBan)<span>₫</span></h3>
                                    <a class="btn" href="/them-gio-hang?maSanPham=@item.maSanPham&soLuong=1&returnUrl=@Request.RawUrl"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <!-- Pagination Start -->
                <div class="col-md-12">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            @Html.PagedListPager(Model, page => Url.Action("TypeProducts", new { page }))
                        </ul>
                    </nav>
                </div>
                <!-- Pagination Start -->
            </div>

            <!-- Side Bar Start -->
            <div class="col-lg-4 sidebar">
                <div class="sidebar-widget category">
                    <h2 class="title">Danh Mục</h2>
                    <nav class="navbar bg-light">
                        <ul class="navbar-nav">
                            @foreach (var item in categorys)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" href="/loai-san-pham/@item.maLoaiSanPham"> <i class="fa fa-plus-square"></i>@item.tenLoaiSanPham</a>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>


            </div>
            <!-- Side Bar End -->
        </div>
    </div>
</div>
<!-- Product List End -->
<!-- Brand Start -->
<div class="brand">
    <div class="container-fluid">
        <div class="brand-slider">
            <div class="brand-item"><img src="~/Content/assets/img/brand-1.png" alt=""></div>
            <div class="brand-item"><img src="~/Content/assets/img/brand-2.png" alt=""></div>
            <div class="brand-item"><img src="~/Content/assets/img/brand-3.png" alt=""></div>
            <div class="brand-item"><img src="~/Content/assets/img/brand-4.png" alt=""></div>
            <div class="brand-item"><img src="~/Content/assets/img/brand-5.png" alt=""></div>
            <div class="brand-item"><img src="~/Content/assets/img/brand-6.png" alt=""></div>
        </div>
    </div>
</div>
<!-- Brand End -->