@model WebBanTraSua.Models.RegisterModel

@{
    ViewBag.Title = "Đăng Ký";
    Layout = "~/Views/Shared/User/_Layout.cshtml";
}

<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/trang-chu">TRANG CHỦ</a></li>
            <li class="breadcrumb-item active">ĐĂNG KÍ</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Login Start -->

<div class="login">
    <div class="container-fluid">
        @using (Html.BeginForm("Register", "LoginUser", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            if (ViewBag.Success != null)
            {
                <div class="alert alert-success">@ViewBag.Success</div>
            }
            <div class="row">
                <div class="col-lg-12" style="padding:0px 400px 0px 350px">
                    <div class="register-form">
                        <h2>Đăng Kí</h2>
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.email)
                                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                @*<input class="form-control text-box single-line" data-val="true" data-val-required="Không được để trống!" id="email" name="email" type="email" value="">*@

                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.password)
                                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                @*<input class="form-control text-box single-line" data-val="true" data-val-length="Mật khẩu phải có ít nhất 8 ký tự!"
                                    data-val-length-max="1000" data-val-length-min="8" data-val-required="Không được để trống!" id="password" name="password" type="password" value="">*@
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.rePassword)
                                @Html.EditorFor(model => model.rePassword, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.rePassword, "", new { @class = "text-danger" })
                                @*<input class="form-control text-box single-line" data-val="true" data-val-equalto="Không khớp với mật khẩu!!!" data-val-equalto-other="*.password"
                                    data-val-required="Không được để trống!" id="rePassword" name="rePassword" type="password" value="">*@
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.name)
                                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.address)
                                @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.phoneNumber)
                                @Html.EditorFor(model => model.phoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.phoneNumber, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-12">
                                <button class="btn">Đăng kí</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<!-- Login End -->