@model IEnumerable<WebBanTraSua.Models.EF.HoaDon>

@{
    ViewBag.Title = "Lịch sử mua hàng";
    Layout = "~/Views/Shared/User/_Layout.cshtml";
}

<div class="row" style="padding-left:200px;">
    <div class="col-lg-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Danh sách Hóa đơn</h2>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">

                <hr />

                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Tên</th>
                                <th>Số điện thoại</th>
                                <th>Địa chỉ</th>
                                <th>Ghi chú</th>
                                <th>Ngày mua</th>
                                <th>Số lượng</th>
                                <th>Tổng tiền</th>
                                <th>Xem chi tiết</th>
                            </tr>
                        </thead>
                        @{ var i = 1;}
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id="row-@item.maHoaDon">
                                    <td>@i.ToString()</td>
                                    <td>@item.tenNguoiMua</td>
                                    <td>@item.sdt</td>
                                    <td>@item.diaChi</td>
                                    <td>@item.ghiChu</td>
                                    <td>@item.ngayMua</td>
                                    <td>@item.soLuong</td>
                                    <td>@item.tongTien</td>
                                    <td><a href="/lich-su-mua-hang/chi-tiet-hoa-don/@item.maHoaDon"><i class="fa fa-search-plus" style="font-size:30px;"></i></a></td>
                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>
